@import url("https://fonts.googleapis.com/css?family=Chilanka|Open+Sans&display=swap");

body {
  margin: 0;
  font-family: "Chilanka", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-control {
  margin-bottom: 2rem;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}

.form-actions button,
.btn {
  background: #5101d1;
  border: 1px solid #5101d1;
  font: inherit;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgb(29, 28, 28);
}
.form-actions button:hover,
.btn:hover,
.btn:active {
  background: #4302ac;
}
